<mat-toolbar style="background:linear-gradient(90deg,rgb(247, 185, 195),rgb(166, 209, 118),rgb(238, 238, 133)) ;">
    <marquee width = "80%"> <p style="font-size: xx-large;color: blue;">Welcome to UK Vehicle shopping!!<img src="https://cdn-icons-png.flaticon.com/256/6966/6966536.png"  style="width: 80px;height: 80px;"></p> </marquee>
</mat-toolbar>


    <mat-toolbar style="background-color: rgb(85, 139, 238);">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>

        </button>

        <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: rgb(116, 236, 116);">Home <span class="sr-only"></span></a>


        <a class="nav-link" routerLink="/about" routerLinkActive="active" style="color: rgb(116, 236, 116);">About Us</a>


        <a class="nav-link" routerLink="/privacy" routerLinkActive="active" style="color: rgb(116, 236, 116);">Privacy Policy</a>


        <a class="nav-link" routerLink="/terms" routerLinkActive="active" style="color: rgb(116, 236, 116);">Terms and Conditions</a>

        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        </button>
         
    </mat-toolbar>
<h1 style="color: blue;"> About Page</h1>
<p>
1.Establish a mission statement.<br>
2.Outline your company story.<br>
3.Reveal how you've evolved.<br>
4.State your 'aha!' moment.<br>
5.Explain who you serve.<br>
6.Explain what you're offering them.<br>
7.Cite examples of who you've served.<br>
8.Describe your values.</p><br>
<P style="background-color: rgb(165, 158, 158);">
It's tough to establish one all-encompassing template for your About page — there are so many ways you can go about telling your company story. The good news is, there are some tried-and-true steps to get you started.
<br><br>
1. Establish a mission statement.
Your About page can and will be more comprehensive than a single mission statement, but to draw people in, you need to succinctly state your goal in the industry upfront. What is your business here to do? Why should your website visitors care? This information will give the reader something to remember about your company long after they leave your website.
<br><br>
2. Outline your company story.
Every business has a story to tell. Even if you're running a start-up, you might not have a long history of changes and growth (yet), but it's a nice touch to talk about how you got to where you are on the About page. So, isolate the milestones before your company's founding, and use them to give readers some backstory on your current venture.
<br><br>
3. Reveal how you've evolved.
There's no shame in admitting how your business strategy — or even your way of thinking — has changed since you began. In fact, these evolutions can improve the story you tell to website visitors.
<br><br>
About pages are perfect spaces to talk about where you started, how you've grown, and the ideals that have helped your organization mature. Use these moments to further your company story and show people that you're always ready to change and adapt to the needs of your industry.
<br><br>
4. State your "aha!" moment.
Every good company was founded on an idea — something the current marketplace might not yet offer. What was your idea? Use this "Aha!" moment as a pivot point when telling your company story. What was a challenge you faced while developing your company? How did this challenge or discovery shape what you are today?
<br><br>
5. Explain who you serve.
As much as you want as many eyeballs on your About page as possible, you won't do business with every single one of them. That's why you must identify and mention your core customer. This lets your visitors know what your business is dedicated to helping them meet their needs and goals.
<br><br>
6. Explain what you're offering them.
As you're explaining who you serve, make it clear what it is you're offering. Companies often generalize their products or services in the website copy, making it hard to understand what it is the customer is actually paying for. Sometimes, businesses are afraid that the literal explanations of their products aren't interesting enough or will sound unappealing in writing. And that's a fair concern.
<br><br>
However, investing just a sentence or two into telling your potential customers exactly what they'll receive can keep them on your website for longer and get them interested in learning more.
<br><br>
7. Cite examples of clients you've served.
Got some loyal customers in your portfolio? Use your About page to let the world know who already trusts and benefits from your work. A great way to showcase this is through a case study.
<br><br>
Knowing about your company's past successes can influence your prospects' purchasing decisions because they will be able to envision their success in the success of your past customers.
<br><br>
8. Describe your values.
Customers want to be treated like human beings. For that to happen, they need to feel that they're being served by human beings. When finishing your About page, describe who you are as a person or a team, and what your personal values are. What's your company culture like? What bigger picture in life drives your business?
<br>
Keep in mind a secondary audience of your company's About page consists of your future employees. This is another reason describing your personal values is a good idea — the key to your job candidates' hearts is to show them you have one too.
</P>