<mat-toolbar style="background:linear-gradient(90deg,rgb(247, 185, 195),rgb(166, 209, 118),rgb(238, 238, 133)) ;">
    <marquee width="80%">
        <p style="font-size: xx-large;color: blue;">Welcome to UK Vehicle shopping!!<img
                src="https://cdn-icons-png.flaticon.com/512/3148/3148937.png " style="width: 80px;height: 80px;"></p>
    </marquee>
</mat-toolbar>


<mat-toolbar style="background-color: rgb(85, 139, 238);">
    <button mat-button [matMenuTriggerFor]="menu" style="font-size: x-large;">Menu</button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item routerLink="/bikeproduct" style="width: 300px; height: 100px;">  <h1> Bike <img src="https://cdn-icons-png.flaticon.com/512/3148/3148937.png" alt="Bike"
        style="width:70px;height: 70px;"></h1></button>
      <button mat-menu-item routerLink="/carproduct" style="width: 300px; height: 100px;"><h1>Car <img src="https://cdn-icons-png.flaticon.com/512/3774/3774278.png" alt=" "
        style="width: 70px;height: 70px;"></h1></button>
        <button mat-menu-item routerLink="/home" style="width: 300px; height:100px;"><h1>General store<img src=" https://cdn-icons.flaticon.com/png/512/3145/premium/3145827.png?token=exp=1647719486~hmac=3cb46146afce81cc506a68443dcf1495" alt=" "
            style="width: 70px;height: 70px;"></h1></button>
    </mat-menu>


    <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: rgb(116, 236, 116);">Home <span
            class="sr-only"></span></a>


    <a class="nav-link" routerLink="/about" routerLinkActive="active" style="color: rgb(116, 236, 116);">About
        Us</a>


    <a class="nav-link" routerLink="/privacy" routerLinkActive="active" style="color: rgb(116, 236, 116);">Privacy
        Policy</a>


    <a class="nav-link" routerLink="/terms" routerLinkActive="active" style="color: rgb(116, 236, 116);">Terms and
        Conditions</a>

    <div class="from-group">
        <input type="text" class="form-control" placeholder="search product">
    </div>
    <span class="material-icons">
        search
    </span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </button>
  

</mat-toolbar>
<div style="background-color: rgb(247, 179, 157);">
<div class="container">
    <div class="row">
        <div class="col">
            <h2 style="font-size: x-large;background-color: rgb(199, 97, 97);"> Specifications</h2>
        </div>
    </div>
    <div class="row" style="background-color: rgb(148, 235, 206);">
        
        <div class="col-10 col-md-10 col-lg-11 col-xl-10">
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-engine" class="spec-list">
                                    <li>
                                                <strong>Engine :-</strong><span>1340cc, 4-stroke, liquid-cooled, 4-cylinder, DOHC</span>
                                    </li>
                                    <li>
                                                <strong>Bore x Stroke :-</strong><span>81.0 mm x 65.0 mm (3.19 in. x 2.56 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Compression Ratio :-</strong><span>12.5:1</span>
                                    </li>
                                    <li>
                                                <strong>Fuel System :-</strong><span>Suzuki fuel injection with SDTV</span>
                                    </li>
                                    <li>
                                                <strong>Starter :-</strong><span>Electronic</span>
                                    </li>
                                    <li>
                                                <strong>Lubrication :-</strong><span>Wet sump</span>
                                    </li>
                                                        </ul>
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-drivetrain" class="spec-list">
                                    <li>
                                                <strong>Clutch :-</strong><span>Wet, multi-plate type</span>
                                    </li>
                                    <li>
                                                <strong>Transmission :-</strong><span>6-speed constant mesh</span>
                                    </li>
                                    <li>
                                                <strong>Final Drive :-</strong><span>Chain, RK GB50GSV Z4, 114 links</span>
                                    </li>
                                                        </ul>
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-chassis" class="spec-list">
                                    <li>
                                                <strong>Suspension Front :-</strong><span>Inverted telescopic, coil spring, oil damped</span>
                                    </li>
                                    <li>
                                                <strong>Suspension Rear :-</strong><span>Link type, single shock, coil spring, oil damped</span>
                                    </li>
                                    <li>
                                                <strong>Brakes Front :-</strong><span>Brembo, 4-piston, twin disc, ABS-equipped</span>
                                    </li>
                                    <li>
                                                <strong>Brakes Rear :-</strong><span>Nissin, 1-piston, single disc, ABS-equipped</span>
                                    </li>
                                    <li>
                                                <strong>Tires Front :-</strong><span>120/70ZR17M/C (58W), tubeless</span>
                                    </li>
                                    <li>
                                                <strong>Tires Rear :-</strong><span>190/50ZR17M/C (73W), tubeless</span>
                                    </li>
                                    <li>
                                                <strong>Fuel Tank Capacity:-</strong><span>21.0 L (5.5 US gal.) / CA Model: 20.0 L (5.3 US gal.)</span>
                                    </li>
                                    <li>
                                                <strong>Color :-</strong><span>Metallic Oort Gray No. 3 or Glass Sparkle Black</span>
                                    </li>
                                                        </ul>
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-electrical" class="spec-list active">
                                    <li>
                                                <strong>Ignition :-</strong><span>Electronic ignition (transistorized)</span>
                                    </li>
                                    <li>
                                                <strong>Spark Plug :-</strong><span>NGK CR9EIA-9 or DENSO IU27D</span>
                                    </li>
                                    <li>
                                                <strong>Headlight :-</strong><span>12V 65W (H9 high-beam) and 12V 55W (H7 low-beam)</span>
                                    </li>
                                    <li>
                                                <strong>Tail Light :-</strong><span>LED</span>
                                    </li>
                                                        </ul>
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-dimensions" class="spec-list">
                                    <li>
                                                <strong>Overall Length :-</strong><span>2190 mm (86.2 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Overall Width :-</strong><span>1165 mm (45.9 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Wheelbase :-</strong><span>1480 mm (58.3 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Ground Clearance :-</strong><span>120 mm (4.7 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Seat Height :-</strong><span>805 mm (31.7 in.)</span>
                                    </li>
                                    <li>
                                                <strong>Curb Weight :-</strong><span>266 kg (586 lb.)</span>
                                    </li>
                                                        </ul>
                        <ul id="97c49f90376b4e1fb2b42c919a3068c2-warranty" class="spec-list">
                                    <li>
                                                <strong>Warranty :-</strong><span>12-month unlimited mileage limited warranty</span>
                                    </li>
                                    <li>
                                                <strong>Extension :-</strong><span>Longer coverage periods with other benefits are available through Suzuki Extended Protection (SEP)</span>
                                    </li>
                                                        </ul>
                                   <div>
                                       <p style="font-size: x-large;">If you want Buy Bike please :-</p>
                                       <button style="height: 50px;font-size: x-large;">Contact Us:-6360765010</button>
                                   </div>
        </div>
    </div>
</div>
</div>
<img src="https://suzukicycles.com/-/media/project/cycles/images/products/motorcycles/gsx1300r_hayabusa/2022/color-gallery/gsx1300rrqm2_b5l_right_single_seat_cowl_2400x1500.png?mh=500&mw=768&hash=8AA55DE923D6DD442D90373C448287F6" alt="">

<img src="https://suzukicycles.com/-/media/project/cycles/images/products/motorcycles/gsx1300r_hayabusa/2022/color-gallery/gsx1300rrqm2_b5l_right_single_seat_cowl_2400x1500.png?mh=500&mw=768&hash=8AA55DE923D6DD442D90373C448287F6" alt="">
<img src="https://suzukicycles.com/-/media/project/cycles/images/products/motorcycles/gsx1300r_hayabusa/2022/promos/homepage_header_hayabusasilverred_2500x1227.jpg?mw=1920&w=1920&hash=27CE2C5410FE3A9072AD77C3C17A46EB" alt="">