<mat-toolbar style="background:linear-gradient(90deg,rgb(247, 185, 195),rgb(166, 209, 118),rgb(238, 238, 133)) ;">
    <marquee width="80%">
        <p style="font-size: xx-large;color: blue;">Welcome to UK Vehicle shopping!!<img
                src="https://cdn-icons-png.flaticon.com/512/3148/3148937.png " style="width: 80px;height: 80px;"></p>
    </marquee>
</mat-toolbar>


<mat-toolbar style="background-color: rgb(85, 139, 238);">
    <button mat-button [matMenuTriggerFor]="menu" style="font-size: x-large;">Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/bikeproduct" style="width: 300px; height: 100px;">
            <h1> Bike <img src="https://cdn-icons-png.flaticon.com/512/3148/3148937.png" alt="Bike"
                    style="width:70px;height: 70px;"></h1>
        </button>
        <button mat-menu-item routerLink="/carproduct" style="width: 300px; height: 100px;">
            <h1>Car <img src="https://cdn-icons-png.flaticon.com/512/3774/3774278.png" alt=" "
                    style="width: 70px;height: 70px;"></h1>
        </button>
        <button mat-menu-item routerLink="/home" style="width: 300px; height:100px;">
            <h1>General store<img
                    src=" https://cdn-icons.flaticon.com/png/512/3145/premium/3145827.png?token=exp=1647719486~hmac=3cb46146afce81cc506a68443dcf1495"
                    alt=" " style="width: 70px;height: 70px;"></h1>
        </button>
    </mat-menu>


    <a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: rgb(116, 236, 116);">Home <span
            class="sr-only"></span></a>


    <a class="nav-link" routerLink="/about" routerLinkActive="active" style="color: rgb(116, 236, 116);">About Us</a>


    <a class="nav-link" routerLink="/privacy" routerLinkActive="active" style="color: rgb(116, 236, 116);">Privacy
        Policy</a>


    <a class="nav-link" routerLink="/terms" routerLinkActive="active" style="color: rgb(116, 236, 116);">Terms and
        Conditions</a>

    <div class="from-group">
        <input type="text" class="form-control" placeholder="search product">
    </div>
    <span class="material-icons">
        search
    </span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </button>


</mat-toolbar>
<img src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Bugatti/Bugatti-Divo/6528/1550827902051/front-left-side-47.jpg?impolicy=resize&imwidth=480"
    alt="" width="70%" height="70%">




<tbody class="edit" style="background-color: cornsilk;">
    <tr>
        <th colspan="2" class="infobox-above fn"
            style="font-size:250%; background-color:#C0C0C0; padding:0.25em 1em; text-align:center;">Bugatti Chiron</th>
    </tr>
    <tr>
        <td colspan="2" class="infobox-image"><a href="/wiki/File:Red_Bugatti_Veyron_on_the_road_(7559997596).jpg"
                class="image"><img alt="Red Bugatti Veyron on the road (7559997596).jpg"
                    src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg/280px-Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg"
                    decoding="async" width="350" height="250"
                    srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg/420px-Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg/560px-Red_Bugatti_Veyron_on_the_road_%287559997596%29.jpg 2x"
                    data-file-width="2200" data-file-height="1458"></a>
            <div class="infobox-caption">Bugatti Veyron 16.4</div>
        </td>
    </tr>
    <tr>
        <th colspan="2" class="infobox-header" style="background-color: #C0C0C0;font-size: x-large;">Overview</th>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="font-size: large;">Manufacturer</th>
        <td class="infobox-data"><a href="/wiki/Bugatti_Automobiles" title="Bugatti Automobiles"
                style="font-size: large;">Bugatti Automobiles S.A.S.</a></td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="font-size: large;">Production</th>
        <td class="infobox-data">
            <div class="plainlist">
                <ul style="font-size: large;">
                    <li>2005–2015 (450 produced)</li>
                    <li>2005–2011 (Veyron 16.4; 252 produced)</li>
                    <li>2009–2015 (Grand Sport; 58 produced)</li>
                    <li>2010–2011 (Super Sport; 48 produced)</li>
                    <li>2012–2015 (Grand Sport Vitesse; 92 produced)</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label" style="font-size: large;">Assembly</th>
        <td class="infobox-data" style="font-size: large;">France: <a href="/wiki/Alsace" title="Alsace">Alsace</a>, <a
                href="/wiki/Molsheim" title="Molsheim">Molsheim</a><sup id="cite_ref-1" class="reference"><a
                    href="#cite_note-1">[1]</a></sup></td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Automotive_design" title="Automotive design">Designer</a>
        </th>
        <td class="infobox-data"><a href="/wiki/Jozef_Kaba%C5%88" title="Jozef Kabaň">Jozef Kabaň</a><sup
                id="cite_ref-Skoda_Auto_2-0" class="reference"><a href="#cite_note-Skoda_Auto-2">[2]</a></sup></td>
    </tr>
    <tr>
        <th colspan="2" class="infobox-header" style="background-color: #C0C0C0">Body and chassis</th>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Car_classification" title="Car classification">Class</a>
        </th>
        <td class="infobox-data"><a href="/wiki/Sports_car" title="Sports car">Sports car</a> (<a href="/wiki/S-segment"
                title="S-segment">S</a>)</td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Car_body_style" title="Car body style">Body&nbsp;style</a>
        </th>
        <td class="infobox-data">
            <div class="plainlist">
                <ul>
                    <li>2-door <a href="/wiki/Coup%C3%A9" class="mw-redirect" title="Coupé">coupé</a> (16.4, Super
                        Sport)</li>
                    <li>2-door <a href="/wiki/Targa_top" title="Targa top">targa top</a> (Grand Sport, Grand Sport
                        Vitesse)</li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Automobile_layout" class="mw-redirect"
                title="Automobile layout">Layout</a></th>
        <td class="infobox-data"><a href="/wiki/Mid-engine,_four-wheel-drive_layout"
                title="Mid-engine, four-wheel-drive layout">Mid-engine, all-wheel drive</a></td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Related</th>
        <td class="infobox-data"><a href="/wiki/Audi_Rosemeyer" title="Audi Rosemeyer">Audi Rosemeyer</a> <br><a
                href="/wiki/Bentley_Hunaudi%C3%A8res" title="Bentley Hunaudières">Bentley Hunaudières</a></td>
    </tr>
    <tr>
        <th colspan="2" class="infobox-header" style="background-color: #C0C0C0">Powertrain</th>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Engine" title="Engine">Engine</a></th>
        <td class="infobox-data">8.0&nbsp;L (488&nbsp;cu&nbsp;in) <a href="/wiki/Turbocharged_petrol_engines#Quad-turbo"
                class="mw-redirect" title="Turbocharged petrol engines">quad-turbocharged</a> <a href="/wiki/W16_engine"
                title="W16 engine">W16</a></td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Power&nbsp;output</th>
        <td class="infobox-data">
            <div class="plainlist">
                <ul>
                    <li><b>Standard (Coupé), Grand Sport (Roadster):</b> 736&nbsp;<a href="/wiki/Kilowatt"
                            class="mw-redirect" title="Kilowatt">kW</a> (987&nbsp;<a href="/wiki/Horsepower"
                            title="Horsepower">hp</a>; 1,001&nbsp;<a href="/wiki/Metric_horsepower" class="mw-redirect"
                            title="Metric horsepower">PS</a>)<sup id="cite_ref-3" class="reference"><a
                                href="#cite_note-3">[3]</a></sup></li>
                    <li><b>Super Sport (Coupé), Grand Sport Vitesse (Roadster):</b> 883&nbsp;<a href="/wiki/Kilowatt"
                            class="mw-redirect" title="Kilowatt">kW</a> (1,201&nbsp;<a href="/wiki/Metric_horsepower"
                            class="mw-redirect" title="Metric horsepower">PS</a>; 1,184&nbsp;<a href="/wiki/Horsepower"
                            title="Horsepower">hp</a>)<sup id="cite_ref-cad-2005_4-0" class="reference"><a
                                href="#cite_note-cad-2005-4">[4]</a></sup><sup id="cite_ref-ds-2010_5-0"
                            class="reference"><a href="#cite_note-ds-2010-5">[5]</a></sup></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Transmission_(mechanics)"
                title="Transmission (mechanics)">Transmission</a></th>
        <td class="infobox-data category">7-speed <a href="/wiki/Dual-clutch_transmission"
                title="Dual-clutch transmission">dual-clutch</a> <a href="/wiki/Automatic_transmission"
                title="Automatic transmission">automatic</a></td>
    </tr>
    <tr>
        <th colspan="2" class="infobox-header" style="background-color: #C0C0C0">Dimensions</th>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Wheelbase" title="Wheelbase">Wheelbase</a></th>
        <td class="infobox-data">2,710&nbsp;mm (106.7&nbsp;in)</td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Length</th>
        <td class="infobox-data">4,462&nbsp;mm (175.7&nbsp;in)</td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Width</th>
        <td class="infobox-data">1,998&nbsp;mm (78.7&nbsp;in)</td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Height</th>
        <td class="infobox-data">1,204&nbsp;mm (47.4&nbsp;in)</td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label"><a href="/wiki/Curb_weight" class="mw-redirect"
                title="Curb weight">Kerb&nbsp;weight</a></th>
        <td class="infobox-data">1,838–1,990&nbsp;kg (4,052–4,387&nbsp;lb)</td>
    </tr>
    <tr>
        <th colspan="2" class="infobox-header" style="background-color: #C0C0C0">Chronology</th>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Predecessor</th>
        <td class="infobox-data"><a href="/wiki/Bugatti_EB_110" title="Bugatti EB 110">Bugatti EB 110</a></td>
    </tr>
    <tr>
        <th scope="row" class="infobox-label">Successor</th>
        <td class="infobox-data"><a href="/wiki/Bugatti_Chiron" title="Bugatti Chiron">Bugatti Chiron</a></td>
    </tr>
    <tr> </tr> <br>
    <tr>
        <td>If you Intrusted to bye this car press below button:-</td>
    </tr>
    <tr>
        <td><button style="height: 50px;background-color: rgb(31, 31, 221);color: aliceblue;">Call
                Us:-9035320895</button></td>
    </tr>
</tbody>


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Volkswagen_W16.jpg/1024px-Volkswagen_W16.jpg" alt=""
    style="width: 50%;height: 50%;">
<img src="https://2p2bboli8d61fqhjiqzb8p1a-wpengine.netdna-ssl.com/wp-content/uploads/2018/11/Bugatti-Veyron-Engine-1.jpg"
    alt="" style="width: 50%;height: 50%;">

<br><br><br><br><br><br>
<table>
    <tr>
        <th>
            <h1
                style="background-color: blanchedalmond;text-align: center;font-family: 'Times New Roman', Times, serif;font-size:x-large">
                Specifications and performance</h1>
        </th>
    </tr>
    <tr></tr>
    <tr style="font-size: large;background-color: #C0C0C0;">
        <td>
            The Veyron's quad-turbocharged W16 engine <br>
            The Veyron features an 8.0-litre, quad-turbocharged, W16 cylinder engine, equivalent to two narrow-angle V8
            engines bolted together. Each cylinder has four valves for a total of 64, but the configuration of each bank
            allows two overhead camshafts to drive two banks of cylinders so only four camshafts are needed. The engine
            is fed by four turbochargers and displaces 7,993 cc (487.8 cu in), with a square 86 by 86 mm (3.39 by 3.39
            in) bore and stroke.
            <br>

            Bugatti Veyron 16.4 <br>

            Bugatti Veyron Interior <br>
            The transmission is a dual-clutch direct-shift computer-controlled automatic transmission having seven gear
            ratios, with magnesium paddles behind the steering wheel and a shift time of less than 150 milliseconds,
            built by Ricardo of England rather than Borg-Warner, who designed the six speed DSG used in the mainstream
            Volkswagen Group marques. The Veyron can be driven in either semi-automatic or fully-automatic mode. A
            replacement transmission for the Veyron costs just over US$120,000.[20] It also has permanent all-wheel
            drive using the Haldex Traction system. It uses special Michelin PAX run-flat tyres, designed specifically
            to accommodate the Veyron's top speed, and cost US$25,000 per set.[20] The tyres can be mounted on the
            wheels only in France, a service which costs US$70,000.[20] Kerb weight is 1,888 kg (4,162 lb).[21] This
            gives the car a power-to-weight ratio, according to Volkswagen Group's figures, of 530 PS (390 kW; 523 hp)
            per ton. The car's wheelbase is 2,710 mm (106.7 in). Overall length is 4,462 mm (175.7 in) which gives
            1,752.6 mm (69.0 in) of overhang. The width is 1,998 mm (78.7 in) and height 1,204 mm (47.4 in). The Bugatti
            Veyron has a total of ten radiators:[22]
        </td>
    </tr>
</table>