<img src=" https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/urus/connected_car/connected_urus_m.jpg" alt="" width="100%" height="100%">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <div class="text-center" style="font-size: xx-large;text-align: center;font-family: 'Times New Roman', Times, serif;">

                        <span style="color:#ffd900">S</span>
                        <span style="color:#03f103">i</span>
                        <span style="color:#f35303">g</span>
                        <span style="color:#fc0ad3">n</span>
                        <span style="color:#0c0c0c">U</span>
                        <span style="color:#ec1010">p</span>
                        <br><br>
                        <marquee width = "100%"> <h2 style="color: #b1f103;">Please enter below all details</h2></marquee>
                    </div>
                </div>
                <form style="align-items: center;">
                    <form style="align-items: center;">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label><br>
                            <input type="text" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                       </div>
                       <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mobile Number</label><br>
                        <input type="number" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                   </div>
                        <div class="mb-3" style="align-items: center;">
                             <label for="exampleInputEmail1" class="form-label" style="text-align: center;">Email</label><br>
                             <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" style="width: 220px;">
                            
                        </div>
                        <div class="mb-3">
                             <label for="exampleInputPassword1" class="form-label">Password</label><br>
                             <input type="password" class="form-control" id="exampleInputPassword1" style="width: 220px;">
                        </div>


                        <button mat-button color="primary" type="submit" class="btn btn-primary" style="background-color: rgb(69, 167, 69);font-size: large;" routerLink="/home" href="http://localhost:60274/home">SignUp</button>
                      </form>
                </form>
                <a routerLink="/login" style="color: #fff;margin-top: 10px;">Already Registered ? Click here to login</a>
                
            </div>
        </div>
    </div>
</div>